:root{
  --grey-20: hsl(0,0%,20%); /*Plain Text*/
  --grey-50: hsl(0,0%,50%);
  --grey-60: hsl(0, 0%, 60%);
  --grey-70: hsl(0, 0%, 70%);
  --grey-80: hsl(0, 0%, 80%);
  --grey-95: hsl(0, 0%, 95%);

  --purple-60: hsl(255, 95%, 60%);
  --purple-55: hsl(255, 95%, 55%);

  --green-50:  hsl(120, 33%, 50%);
  --green-60:  hsl(120, 33%, 60%);
  --green-90:  hsl(120, 33%, 90%);

  --red-50: hsl(359, 87%, 50%);
  --red-60: hsl(359, 87%, 60%);
  --red-90: hsl(359, 87%, 90%);

  --primary-1: var(--purple-55);
  --primary-2: var(--purple-60);
}

/*Test comment*/

/*General*/
*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
body{
/*  font-family: mr-eaves-modern, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
*/  font-family: noto-sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 300;

  font-size: 20px;
  color: var(--grey-20);
}
h1,h2,h3,h4,h5,h6{
  /*font-family: brandon-grotesque, sans-serif;*/
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  /*font-weight: 600;*/
}
h1{
  margin-bottom: .5em;
}
p{
  line-height:  1.4;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 100%;
}
input, textarea, input::placeholder, textarea::placeholder{
  font-family: noto-sans, sans-serif;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.inline-a{
  color: var(--primary-1);
  border-bottom: 1px transparent solid;
}
.inline-a:hover{
  color: var(--primary-2);
  border-bottom: 1px var(--primary-2) solid;
}
.grey-a{
  color: var(--grey-50);
}
.grey-a:hover{
  color: var(--grey-20);
  border-bottom-color: var(--grey-20);
}

/* Default Styles */
button, input[type="submit"], .button-a, .button-w, .button{  
  font-family: noto-sans, sans-serif;
  font-size: 100%;
  padding: .4em .8em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.button-a:not([disabled]){
  color:  white;
  background: var(--primary-1);
}
.button-a:not([disabled]):hover{
  background: var(--primary-2);
}
.button-a[disabled]{
  cursor: not-allowed;
  color:  var(--primary-1);
  border: 1px solid var(--primary-1);
}
.button-w{
  color: white;
  background: var(--red-60)
}
.button-w:hover{
  background: var(--red-50)
}
.button-s{
  color: white;
  background: var(--green-60)
}
.button-s:hover{
  background: var(--green-50)
}
.button-g{
  color: white;
  background: var(--grey-60);
}
.button-g:hover{
  background: var(--grey-70);
}
.close{
  margin-left: .5em;
  /*display: grid;*/
  align-content: center;
  transform: scale(.9);
  color: var(--grey-70);
  cursor: pointer;
}
.close:hover{
  color: var(--grey-20);
}
input[type=text]{
  border: 1px solid var(--grey-80);
  padding: .65em .75em;
  outline: none;
  border-radius: 3px;
  font-size: 75%;
  margin-bottom: 1em;
}

/* Popups */
.popup-cont{
  display: grid;
  align-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.popup-close-capture{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.popup{
  background: white;
  border-radius: 5px;
  padding: 2rem;
  max-width: 100%;
  position: relative;
  display: grid;
  align-content: center;
  margin: auto;
  text-align: left;
}
.popup-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
.close-cancel-cont{
  display: flex;
}
.close-cancel-cont *:nth-child(1){
  margin-right: .5em;
}
.err-cont{
  margin-bottom: 1em;
}
.err{
  color: var(--red-50);
  font-size: 85%;
  font-style: italic;
}

/* Nav */
nav{
  display: flex;
  justify-content:space-between;
  padding: 1.5em;
  align-items: center;
}
.nav-profile-icon{
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
}