/*Tutor List*/
.tutor-list-item{
  display: flex;
  align-items: center;
  padding: 1em;
}
.tutor-list-item-outer-left{
  display: flex;
  align-items: center;
}
.tutor-list-item-inner-left{
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-right: 1em;
}
.tutor-list-item-inner-right{
  text-align: left;
}
.tutor-list-item-inner-right h3{
  margin-bottom: .15em;
}
.tutor-list-pending .tutor-list-item-outer-left{
  opacity: .5;
}
.tutor-list-pending:hover .tutor-list-item-outer-left{
	opacity: 1;
}
.tutor-list-item-outer-right{
	margin-left: 1.5em;
	opacity: 0;
}
.tutor-list-pending:hover .tutor-list-item-outer-right{
	opacity: 1;
}
.tutor-list-item-outer-right .button-s{
	margin-right: .25em;
}
.tutor-list-item-outer-right button{
	width: 1.5em;
	height: 1.5em;
	border-radius: 1em;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.tutor-list-item-outer-right button *{
	width: 1em;
	height: 1.75em;
}

/* Set game */
/* Set game start */
.set-game-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.set-game-start, .set-game-question{
	border: 1px solid var(--grey-80);
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0,0,0,.1);
	padding: 2.5em;
}
.set-game-start-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.set-game-start-title h1{
	margin-bottom: 0;
}
.set-game-start-title-left{
	margin-right: 1.5em;
}
.set-game-start-question-count{
	color: var(--grey-50);
	font-size: 85%;
}
.set-game-start-tutor-icon{
	border-radius: 1.5em;
	height: 3em;
	width: 3em;
}

/* Set Game Active */
