/* Tutor Panel */
.tutor-panel-outer{
  display: flex;
  justify-content: center;
}
.tutor-panel-inner{
  max-width: 1000px;
  text-align: center;
}

/* Tutor Panel Home */
.tutor-panel-main{
  display: flex;
  justify-content: space-around;
}

/* Create Question */
.create-question-form{
  padding: 2em;
  width: 20em;
  max-width: 100%;
}
.create-question-body{
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
}
.create-question-answer-outer{
  display: flex;
  align-items: center;
}
.create-question-answer{
  margin-bottom: .25em;
  width: 150px;
  max-width: 100%;
}
.first-answer{
  /*background: var(--green-80);*/
  border: 1px solid var(--green-50);
}
.add-answer{
  width: 150px;
  max-width: 100%;
  background: var(--grey-95);
  padding: .25em;
  margin-bottom: .5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.add-answer:hover{
  background: var(--grey-80);
}

/* Set List */
.set-list-header-cont{
  display:inline-flex;
  align-items: center;
}
.set-list-header-cont h1{
  margin-bottom: 0;
}
.set-list-header-plus{
  margin-left: 1em;
  color: var(--primary-1);
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.set-list-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.set-list-item{
  border: 1px solid var(--grey-80);
  border-radius: 5px;
  margin: 1em;
  width: 100%;
  height: 100%;
  max-width: 250px;
  position: relative;
  cursor: pointer;
}
.set-list-item-content{
  padding: 1.5em;
  width: 100%;
  display: block;
}
.set-list-item-content:hover{
  background: var(--grey-95);
}
.set-list-item-title{
  margin-bottom: 0;
}
.set-list-item-date{
  font-size: 85%;
}
.set-list-item-controls{
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}
.set-list-item-controls .control-icon{
  width: 27px;
  height: 27px;
  color: var(--grey-70);
  padding: .25em;
  position: relative;
}
.set-list-item-controls .control-icon:hover{
  color: var(--grey-20);
}

/* Create Question Preview  */
.create-question-preview-body p{
  text-align: left;
}

/* Micro Popup */
.micro-popup{
  background: white;
  border: 1px solid var(--grey-90);
  position: absolute;
  border-radius: 5px;
  top: calc(-1.5em + 3px);
  width: 160px;
  left: calc(1.5em + 35px);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1);
  z-index: 2;
}
.micro-popup div{
  display: flex;
  align-items: center;
  padding: .45em .5em;
}
.micro-popup div:hover{
  background: var(--grey-95);
}
.micro-popup-edit{
  color: #4a92f0;
}
.micro-popup-delete{
  color:  #f04a4a;
}
.micro-popup-icon{
  margin-right: .5em;
}

/* Individual Set */
.question-list-item{
  padding: 3em 2em 2em;
  border: 1px solid var(--grey-80);
  margin-bottom: 1em;
  border-radius: 5px;
  width: 100%;
  max-width:  600px;
  position: relative;
}
.question-list-item-number{
  position: absolute;
  top: 1em;
  left: 1em;
}
.question-list-item-dots{
  position: absolute;
  top: .75em;
  right: .75em;
  color: var(--grey-70);
  padding: .25em;
  cursor: pointer;
}
.question-list-item-dots:hover{
  color:  var(--grey-20);
}
.question-list-item-body{
  text-align: left;
}
.question-list-item-answer-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.question-list-item-answer{
/*  display: flex;
  align-items: center;
*/  padding: .75em;
  border-radius: 5px;
  margin: .3em;
  border: 1px solid white;
}
.question-list-item-answer-right{
  /*background: var(--green-90);*/
  border-color: var(--green-50);
  color:  var(--green-50);
}
.question-list-item-answer-wrong{
/*  background: var(--red-90); */
  border-color: var(--red-50);
  color:  var(--red-50);
}
.question-list-create{
  padding: 1em;
  /*border: 1px solid var(--grey-80);*/
  border-radius: 5px;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--primary-1);
  color: white;
}
.question-list-create:hover{
  background: var(--primary-2);
}
.question-list-create-plus{
  width: 25px;
  height: 25px;
  margin-right: .3em;
}
/* Set Dropdown */

/* KEY
.dropdown-set-list-item:  All items in the drop down;
.dropdown-set-list-item-trad:  All sets in dropdown;
.dropdown-set-list-choose:  Span with "Choose a set" text;
.dropdown-set-list-create:  Create new set button;
.dropdown-set-list-dropdown-top:  Top of closed dropdown;
 */
.dropdown-set-list{
  border: 1px solid var(--grey-80);
  border-radius: 7px;
  cursor: pointer;
  scrollbar-width: none;
  position: relative;
}
.dropdown-set-list-open{
  padding-bottom: calc(2*.65em + 30px); /*Accounts for Create new set button (.set-list-create*/
}
.dropdown-set-list-scroll-fix{
    max-height: 200px;
    overflow-y: auto;
}
.dropdown-set-list-scroll-fix::-webkit-scrollbar{
  display: none;
}
.dropdown-set-list-dropdown-top{
  display:  flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-set-list-dropdown-caret{
  display: flex;
  align-items: center;
  padding-left: .25em;
}
.dropdown-set-list-choose{
  font-style: italic;
}
.dropdown-set-list-dropdown-top:hover .dropdown-set-list-dropdown-caret, .dropdown-set-list-dropdown-top:hover .dropdown-set-list-choose{
  color:  var(--grey-20);
}
.dropdown-set-list-item{
  user-select: none;
  padding: .5em .75em;
  color:  var(--grey-70);
}
.dropdown-set-list-item-trad:hover{
  background: var(--grey-95);
  color: var(--grey-20);
}
.dropdown-set-list-chosen{
  color: var(--grey-20);
}
.dropdown-set-list-create{
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-1);
  color: white;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding:  .65em .75em;

  position: absolute;
  width: calc(100% + 2px); /*This quirky hack makes the button cover the border*/
  bottom: -1px;
  left: -1px;
}
.dropdown-set-list-create:hover{
  background: var(--primary-2);
}
.dropdown-set-list-create-plus{
  margin-left: .5em;
}

/*Create Set*/
.create-set-set-name-input{
  margin-bottom: 1m em;
}

/* Student Interface */
/* Add Student */
.add-student-results-cont{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.add-student-student{
  padding: 1.25em;
  border: 1px solid var(--grey-80);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  cursor:  pointer;
  max-width: 100%;
  width: 17em; 
}
.add-student-student:hover{
  background: var(--grey-95);
}
.add-student-student-right{
  text-align: left;
  margin-left: 1em;
}
.add-student-displayname{
  margin-bottom: .25em;
}
.add-student-student-username{
  margin: 0;
  color: var(--grey-50);
}
.add-student-student-icon{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/*Student List*/
.student-list-item{
  display: flex;
  align-items: center;
  padding: 1em;
}
.student-list-item-left, .set-performance-student-left-left{
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-right: 1em;
}
.student-list-item-right, .set-performance-student-left-right{
  text-align: left;
}
.student-list-item-right h3, .set-performance-student-left-right h3{
  margin-bottom: .15em;
}
.student-list-pending{
  opacity: .5;
}
.student-list-add-student-link{
  color: var(--primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-list-add-student-link:hover{
  color: var(--primary-2);
}
.student-list-add-student-link-add{
  margin-right: .5em;
}

/* Assign Set */
.assign-student-list-item{
  border: 1px solid var(--grey-80);
  border-radius: 5px;
  margin-bottom: .5em;
  cursor: pointer;
}
.assign-student-list-item:hover{
  border-color: var(--grey-50);
}
.assign-student-list-item.selected{
  border: 2px solid var(--primary-1);
}

/* Performance */
.set-performance-student{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid var(--grey-50);
  margin-bottom: 1.5em;
  position: relative;
}
.set-performance-student.incomplete{
  opacity: .6; 
}
.set-performance-student-left{
  display: flex;
  align-items: center;
}
.set-performance-student-bar{
  width: 1px;
  height: 50px;
  background: var(--grey-80);
  margin: 0 2em;
}
.set-performance-student-right{
  text-align: center;
}

/* Review */
.tutor-rev-question{
  width: 30em;
  max-width: 100%;
  padding: 2rem;
}
.tutor-rev-answer-block{
  list-style: none;
}
.tutor-rev-answer{
  padding: .5rem;
  color: white;
  text-align: center;
  border-radius: 5px;
}
.tutor-rev-answer.incorrect{
  background: red;
}
.tutor-rev-answer.correct{
  background: var(--green-50);
}