.student-panel{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.student-panel-header{
	margin-bottom: .5em;
}
.student-panel-left, .student-panel-right{
	margin: 2em;
}

/*Tutor List*/
.tutor-list{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.tutor-list-item{
  display: flex;
  align-items: center;
  padding: 1em;
}
.tutor-list-item-outer-left{
  display: flex;
  align-items: center;
}
.tutor-list-item-inner-left{
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-right: 1em;
}
.tutor-list-student-displayName, .tutor-list-student-username{
	word-break: break-word;
}
.tutor-list-item-inner-right{
  text-align: left;
}
.tutor-list-item-inner-right h3{
  margin-bottom: .15em;
}
.tutor-list-pending .tutor-list-item-outer-left{
  opacity: .5;
}
.tutor-list-pending:hover .tutor-list-item-outer-left{
	opacity: 1;
}
.tutor-list-item-outer-right{
	margin-left: 1.5em;
	opacity: 0;
	display: none;
}
.tutor-list-pending:hover .tutor-list-item-outer-right{
	display: block;
	opacity: 1;
}
.tutor-list-item-outer-right .button-s{
	margin-right: .25em;
}
.tutor-list-item-outer-right button{
	width: 1.5em;
	height: 1.5em;
	border-radius: 1em;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.tutor-list-item-outer-right button *{
	width: 1em;
	height: 1.75em;
}

/* Set List */
.student-set-list-section{
	margin-bottom: 1.5em
}
.student-set-list-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid var(--grey-50);
  margin: .75em 0;
  position: relative;
}
.student-set-list-item-left h2{
	margin-bottom: .5em;
}
.student-set-list-set-tutor{
	display: inline-flex;
	align-items: center;
}
.student-set-list-set-tutor-icon{
	width: 2em;
	height: 2em;
	border-radius: 1em;
	margin-right: 1ch;
}
.student-set-list-item-right{
	margin-left: 2em;
	padding: 0 0 0 2em;
	border-left: 1px solid var(--grey-80);
}

/* Set game */
/* Set game start */
.set-game{
	border: 1px solid var(--grey-80);
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,0,.1);
	padding: 2.5em;
	margin: 1em;
}
.set-game-start-title, .set-game-complete-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5em;
}
.set-game-start-title h1, .set-game-complete-title h1{
	margin-bottom: 0;
}
.set-game-start-title-left, .set-game-complete-title-left{
	margin-right: 1.5em;
}
.set-game-start-question-count, .set-game-complete-question-count{
	color: var(--grey-50);
	font-size: 85%;
}
.set-game-start-tutor-icon, .set-game-complete-tutor-icon{
	border-radius: 1.5em;
	height: 3em;
	width: 3em;
}

/* Set Game Active */
/* Questions  */
.question{
  width: 100%;
  max-width: 30em;
  padding: 2rem;
}
.question-body{
  /*font-size: 14px;*/
}
.answer-block{
  list-style: none;
}
.answer{
  display: flex;
  align-items: center;
  padding: .5em;
  cursor: pointer;
	border-radius: 5px;
	margin-bottom: .5em;
}
.review .answer{
	cursor: default;
}
.answer-text{
  margin-left: 1em;
}
.answer-block:not(.review) .answer:hover .answer-letter-outer{
  background: var(--primary-2);
}
.answer-block:not(.review) .answer-block .answer:hover .answer-text{
  color:  var(--grey-20);
}
.answer.incorrect, .answer-block.correct .selected, .answer.correct{
	color: white;
}
.answer.incorrect{
	background: var(--red-60);
}
.answer.incorrect .answer-letter-outer{
	background: var(--red-40);
}
.answer-block.correct .selected, .answer.correct{
  background: var(--green-50);
}
.answer-block.correct .selected .answer-letter-outer, .answer.correct .answer-letter-outer{
	background: var(--green-40);
}
.answer-letter-outer{
  width: 1.5em;
  height: 1.5em;
  background: var(--grey-80);
  display: grid;
  align-content: center;
  border-radius: 50%;
}
.selected .answer-letter-outer{
	background: var(--primary-1);
}
.answer-letter-inner{
  font-size: 80%;
  text-align: center;
  color:  white;
  /*transform: translateY(-1px);*/
  text-transform: uppercase;
}
.question-review-button-cont button, .set-game-complete-button-cont button{
	margin-right: .75em;
}

/* Set Game Complete */
.set-game-complete-score-cont{
	margin-bottom: 2em;
}
.set-game-complete-score{
	/*text-align: center;*/
}
.set-game-complete-button-cont{
	margin-top: .5em;
}

@media screen and (max-width: 750px){
	.set-game-question{
		border: none;
		box-shadow: none;
		margin: none;
	}
}

@media screen and (max-width: 450px){
	.student-set-list-item{
		flex-flow: column;
		align-items: center;
	}
	.student-set-list-item-right{
		border-left: none;
		border-top: 1px solid var(--grey-80);
		padding: 2em 0 1em;
		margin-left: 0;
		margin-top: 2rem;
	}
	.tutor-list-pending{
		flex-flow: column;
		align-items: center;
	}
	.tutor-list-item-outer-right{
		margin-top: .5em;
	}
	.student-panel-left, .student-panel-right{
		margin: 1em;
	}
	.set-game{
		padding: 1em;
		margin: 0;
	}
	.set-game-question{
		padding: 0;
	}
	.question{
		padding: 0;
	}
}

@media (hover: none) {
	.tutor-list-item-outer-right{
		opacity: 1;
		display: block;
	}
}
